/* /////GLOBAL VARIABLE///// */

:root {
    --main-red: #B50000;
    --main-black: #000000;
    --main-white: #ffffff;
    --main-green: #277714;
    --main-yellow: #f4d742;
}

/* font-family: 'Orbitron', sans-serif;   for h*/

/* font-family: 'Press Start 2P', cursive;  for p*/

/* font-family: 'Bungee Inline', cursive;  for title */

p, h1 {
    font-family: 'Press Start 2P', cursive;
}

h2 {
    color: var(--main-yellow);
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    text-shadow: 8px 7px 10px rgba(28, 110, 164, 0.82);
    /* margin: 20px auto; */
    text-align: center;
}

h3 {
    color: var(--main-yellow);
    font-family: 'Press Start 2P', cursive;
    font-size: 17px;
    text-shadow: 8px 7px 10px rgba(28, 110, 164, 0.82);
}

#logo {
    display: block;
    width: 150px;
    height: 150px;
    /* background-image: url("../IMG/demismall.jpg"); */
    background-image: url("../IMG/logo.png");
    background-size: cover;
}

#projectName {
    color: var(--main-yellow);
    display: block;
    font-weight: bold;
    font-size: 55px;
    grid-area: title;
    margin: 40px auto;
    text-align: left;
    text-shadow: 8px 7px 10px rgba(28, 110, 164, 0.82);
}

/* /////SOCIAL MEDIA ICON///// */

#hell {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo title" ". social-media";
}

@media only screen and (max-width: 600px) {
    #hell {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "logo" "title" "social-media";
    }
}

@media only screen and (max-width: 600px) {
    #socialMedia ul {
        float: auto;
    }
}

#socialMedia {
    grid-area: social-media;
}

#socialMedia ul {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-decoration: none;
    width: 400px;
    float: right;
}

#socialMedia ul li {
    margin: 0px auto;
    width: 50px;
}

#facebook {
    background-image: url("../IMG/facebook-logo.svg");
    width: 50px;
    height: 50px;
    background-size: cover;
    transition-duration: 500ms;
}

#facebook:hover {
    transform: scale(1.5);
}

#linkedin {
    background-image: url("../IMG/linkedin-logo.svg");
    width: 50px;
    height: 50px;
    background-size: cover;
    transition-duration: 500ms;
}

#linkedin:hover {
    transform: scale(1.5);
}

#github {
    background-image: url("../IMG/github-sign.svg");
    width: 50px;
    height: 50px;
    background-size: cover;
    transition-duration: 500ms;
}

#github:hover {
    transform: scale(1.5);
}

#youtube {
    background-image: url("../IMG/youtube-logo.svg");
    width: 50px;
    height: 50px;
    background-size: cover;
    transition-duration: 500ms;
}

#youtube:hover {
    transform: scale(1.5);
}

#codefellows {
    background-image: url("../IMG/cflogo.png");
    width: 50px;
    height: 50px;
    background-size: cover;
    transition-duration: 500ms;
}

#codefellows:hover {
    transform: scale(1.5);
}

/* /////INDEX HTML///// */

#loginbg {
    background-image: url("../IMG/redbg.jpg");
    background-size: cover;
}

body {
    width: 960px;
    margin: 0px auto;
}

#login {
    padding-top: 150px;
    padding-bottom: 150px;
    max-width: 700px;
    margin: 0px auto;
    animation-duration: 5s;
}

#login h1 {
    display: grid;
    height: 45px;
    font-weight: bold;
    font-size: 30px;
    margin: 0px auto;
    color: var(--main-red);
    text-align: center;
    background-color: var(--main-black);
    opacity: 0.7;
    border-bottom: 1px solid #ffffff;
    justify-content: center;
    align-items: center;
}

#loginForm {
    display: grid;
    font-size: 1vw;
    box-sizing: border-box;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 220px;
    opacity: 0.8;
}

#userName {
    color: var(--main-black);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}

/* /////FOOTER CSS///// */

footer p {
    display: grid;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--main-white);
    margin: 0px auto;
}

/* /////MAIN PAGE///// */

#mainbg {
    background-image: url("../IMG/redbg.jpg");
    /* background-image: url("../IMG/tableGreen.png"); */
    background-size: cover;
}

#nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav-main nav-result nav-aboutus nav-index";
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #nav ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "nav-main" "nav-result" "nav-aboutus" "nav-index";
        text-align: left;
    }
}

#nav-main {
    grid-area: nav-main;
}

#nav-result {
    grid-area: nav-result;
}

#nav-aboutus {
    grid-area: nav-aboutus;
}

#nav-index {
    grid-area: nav-index;
}

#nav ul li a {
    text-decoration: none;
    color: var(--main-yellow);
    font-family: 'Press Start 2P', cursive;
    text-shadow: 8px 7px 10px rgba(28, 110, 164, 0.82);
}

#nav ul li:hover {
    animation-name: nav;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes nav {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

#table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "demi-sets demi demi-chat" "demi-hands demi-hands demi-hands" ". drawPile ." "player-hands player-hands player-hands" "player-side player-name player-sets";
    margin: 0px auto;
    background-image: url("../IMG/tableGreen.png");
    height: 900px;
    width: 960px;
}

#demi-sets {
    display: grid;
    grid-area: demi-sets;
}

#demi-sets img {
    width: 40px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 2px auto;
}

#player-sets {
    display: grid;
    grid-area: player-sets;
}

#player-sets img {
    width: 40px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 2px auto;
}

#demi {
    display: grid;
    grid-area: demi;
    width: 100px;
    height: 100px;
    /* display: inline-block; */
    background-image: url("../IMG/demismall.jpg");
    background-size: cover;
    margin: 30px auto;
}

#demi-chat {
    display: grid;
    grid-area: demi-chat;
    position: relative;
    height: 80px;
    width: 250px;
    border-radius: 0.6em;
    background: var(--main-black);
    opacity: 0.5;
}

#demi-chat:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-right-color: var(--main-black);
    border-left: 0;
    border-bottom: 0;
    margin-top: -20px;
    margin-left: -30px;
}

#demi-hands {
    font-size: 34px;
    grid-area: demi-hands;
    text-align: center;
}

#demi-hands img {
    width: 75px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 2px auto;
}

#player-hands {
    grid-area: player-hands;
    text-align: center;
}

#player-hands img {
    width: 75px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 2px auto;
}

#player-sets {
    display: grid;
    grid-area: player-sets;
}

#player-sets img {
    width: 40px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 2px auto;
}

.chatbubble{
    color:var(--main-yellow);
    margin:20px auto;


}
#drawPile {
    display: grid;
    grid-area: drawPile;
    background-image: url("../IMG/pile3.png");
    width: 130px;
    height: 150px;
    background-size: cover;
    margin: 0px auto;
}

/* /////RENDER CARDS AREA///// */

#render-demi li {
    display: inline;
}

#render-player li {
    display: inline;
}

#render-demi-sets li {
    display: inline;
}

#render-player-sets li {
    display: inline;
}

/* /////BOTTOM OF TABLE///// */

#player-chat {
    display: grid;
    grid-area: player-side;
    position: relative;
    height: 80px;
    width: 250px;
    border-radius: 0.6em;
    background: var(--main-black);
    opacity: 0.5;
}

#player-chat:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-left-color: var(--main-black);
    border-right: 0;
    border-bottom: 0;
    margin-top: -20px;
    margin-right: -30px;
}

#player-input {
    display: grid;
    grid-area: player-input;
    width: 250px;
    height: 30px;
    background-color: var(--main-black);
    color: var(--main-yellow);
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    border: 5px solid var(--main-white);
}

#submit {
    font-family: 'Press Start 2P', cursive;
}

#player-name {
    grid-area: player-name;
    margin: 20px auto;
}

#player-side {
    display: grid;
    grid-area: player-side;
    position: relative;
    bottom: -100px;
}

#player-sets {
    display: grid;
    grid-area: player-sets;
}

/* /////GO FISH RELATE///// */

#popUp {
    font-weight: bold;
    position: absolute;
    margin: 20px -120px auto;
    box-sizing: border-box;
    position: fixed;
}

#rules {
    box-shadow: 10px 10px 10px 0px var(--main-white);
    display: show;
    width: 500px;
    height: 600px;
    position: fixed;
    left: 100px;
    background: var(--main-black);
    color: var(--main-white);
    opacity: 0.6;
    text-align: left;
    overflow: auto;
    z-index: 2;
}

#rules>h2 {
    font-size: 25px;
    height: 30px;
    color: black;
    background-color: var(--main-white);
    text-align: center;
}

#rules p {
    font-size: 20px;
    padding: 1em;
}

.close {
    float: right;
    color: var(--main-black);
    font-size: 35px;
    font-weight: bold;
}

/* /////RESULT HTML///// */

#resultbg {
    background-image: url("../IMG/redbg.jpg");
    background-size: cover;
}

/* /////ABOUT US HTML///// */

#aboutusbg {
    background-image: url("../IMG/redbg.jpg");
    background-size: cover;
    /* background-size: 100%; */
}

#about-us {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "chris chris chris ." ". chi chi chi" "jon jon jon ." ". tara tara tara";
    color: var(--main-white);
}

@media only screen and (max-width: 600px) {
    #about-us {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "chris" "chi" "jon" "tara";
        color: var(--main-white);
    }
}

.frame img {
    width: 150px;
    height: 150px;
    border-radius: 40px;
    box-shadow: 7px 7px 7px grey;
}
.frame p{
    font-size: 15px;
}
#chris {
    grid-area: chris;
}

#chi {
    grid-area: chi;
}

#jon {
    grid-area: jon;
}

#tara {
    grid-area: tara;
}

/* /////SCOREBOARD PAGE///// */

#scoreboard {
    display: block;
    margin: 0px auto;
    text-align: center;
}

#scoreboard h2 {
    color: var(--main-yellow);
    font-size: 35px;
    text-shadow: 8px 7px 10px rgba(28, 110, 164, 0.82);
    margin: 20px auto;
}

.scorelist {
    background-color: var(--main-black);
    opacity: 0.5;
    width: 700px;
    height: 60px;
    margin: 0px auto;
    color: var(--main-white);
    font-family: 'Press Start 2P', cursive;
}

#score1 {
    animation-delay: 0.5s;
}

#score2 {
    animation-delay: 1s;
}

#score3 {
    animation-delay: 1.5s;
}

#score4 {
    animation-delay: 2s;
}

#score5 {
    animation-delay: 2.5s;
}

#score6 {
    animation-delay: 3s;
}

#score7 {
    animation-delay: 3.5s;
}

#score8 {
    animation-delay: 4s;
}

#score9 {
    animation-delay: 4.5s;
}

#score10 {
    animation-delay: 5s;
}

/* ///testing only/// */