/* /////GLOBAL VARIABLE///// */

:root {
    --main-red: #B50000;
    --main-black: #000000;
    --main-white: #ffffff;
    --main-green: #277714;
}

/* font-family: 'Orbitron', sans-serif;   for h*/

/* font-family: 'Press Start 2P', cursive;  for p*/

/* font-family: 'Bungee Inline', cursive;  for title */

p, h1, h2 {
    font-family: 'Press Start 2P', cursive;
}

#logo {
    display: block;
    width: 150px;
    height: 150px;
    /* background-image: url("../IMG/demismall.jpg"); */
    background-image: url("../IMG/logo.png");
    background-size: cover;
}

#projectName {
    display: block;
    font-weight: bold;
    font-size: 55px;
    grid-area: title;
    margin: 40px auto;
    text-align: left;
    text-shadow: 8px 7px 10px rgba(28, 110, 164, 0.82);
}

/* /////SOCIAL MEDIA ICON///// */

#hell {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo title" ". nav";
}

#socialMedia {
    grid-area: nav;
}

#socialMedia ul {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-decoration: none;
    grid-gap: 15px;
    float: right;
}

#facebook {
    background-image: url("../IMG/facebook-logo.svg");
    width: 50px;
    height: 50px;
    background-size: cover;
    transition-duration: 500ms;
}

#facebook:hover {
    transform: scale(1.5);
}

#linkedin {
    background-image: url("../IMG/linkedin-logo.svg");
    width: 50px;
    height: 50px;
    background-size: cover;
    transition-duration: 500ms;
}

#linkedin:hover {
    transform: scale(1.5);
}

#github {
    background-image: url("../IMG/github-sign.svg");
    width: 50px;
    height: 50px;
    background-size: cover;
    transition-duration: 500ms;
}

#github:hover {
    transform: scale(1.5);
}

#youtube {
    background-image: url("../IMG/youtube-logo.svg");
    width: 50px;
    height: 50px;
    background-size: cover;
    transition-duration: 500ms;
}

#youtube:hover {
    transform: scale(1.5);
}

#codefellows {
    background-image: url("../IMG/cflogo.png");
    width: 50px;
    height: 50px;
    background-size: cover;
    transition-duration: 500ms;
}

#codefellows:hover {
    transform: scale(1.5);
}

/* /////INDEX HTML///// */

#loginbg {
    background-image: url("../IMG/redbg.jpg");
    background-size: cover;
}

body {
    width: 960px;
    margin: 0px auto;
}

#login {
    padding-top: 150px;
    padding-bottom: 150px;
    max-width: 700px;
    margin: 0px auto;
    animation-duration: 5s;
}

#login h1 {
    display: grid;
    height: 45px;
    font-weight: bold;
    font-size: 30px;
    margin: 0px auto;
    color: var(--main-red);
    text-align: center;
    background-color: var(--main-black);
    opacity: 0.7;
    border-bottom: 1px solid #ffffff;
    justify-content: center;
    align-items: center;
}

#loginForm {
    display: grid;
    font-size: 1vw;
    box-sizing: border-box;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 220px;
    opacity: 0.8;
}

/* /////FOOTER CSS///// */

footer p {
    display: grid;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--main-white);
    margin: 0px auto;
}

/* /////MAIN PAGE///// */

#mainbg {
    background-image: url("../IMG/redbg.jpg");
    /* background-image: url("../IMG/tableGreen.png"); */
    background-size: cover;
}

#nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

#nav ul li a {
    text-decoration: none;
    color: var(--main-black);
}

#table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "demi-sets demi demi-chat" ". drawPile ." "player-chat . ." "player-side . player-sets";
    margin: 0px auto;
    background-image: url("../IMG/tableGreen.png");
    height: 900px;
    width: 900px;
}

#demi-sets {
    display: grid;
    grid-area: demi-sets;
}

#demi {
    display: grid;
    grid-area: demi;
    width: 100px;
    height: 100px;
    /* display: inline-block; */
    background-image: url("../IMG/demismall.jpg");
    background-size: cover;
}

#demi-chat {
    display: grid;
    grid-area: demi-chat;
    border: 2px solid var(--main-black);
    height: 200px;
    width: 300px;
    border-radius: 20px;
    background: var(--main-black);
    opacity: 0.5;
    /* background: #000000; */
}

#drawPile {
    display: grid;
    grid-area: drawPile;
    background-image: url("../IMG/back_cards-07.png");
    width: 300px;
    height: 300px;
    background-size: cover;
}

#player-chat {
    display: grid;
    grid-area: player-chat;
    border: 2px solid black;
    height: 200px;
    width: 300px;
    border-radius: 20px;
    background: var(--main-black);
    opacity: 0.5;
}

#player-input {
    display: grid;
    grid-area: player-input;
    width: 300px;
    height: 30px;
}

#player-side {
    display: grid;
    grid-area: player-side;
}

#player-sets {
    display: grid;
    grid-area: player-sets;
}

/* #table p {
    float: right;
} */

/* /////GO FISH RELATE///// */

#popUp {
    font-weight: bold;
    position: absolute;
    margin: 20px -30px auto;
    box-sizing: border-box;
}

#rules {
    display: show;
    width: 400px;
    height: 600px;
    position: fixed;
    left: 100px;
    background: var(--main-black);
    color: var(--main-white);
    opacity: 0.6;
    text-align: left;
    overflow: auto;
}

#rules>h2 {
    font-size: 25px;
    height: 30px;
    color: black;
    background-color: var(--main-white);
    text-align: center;
}

.close {
    float: right;
    color: var(--main-black);
    font-size: 35px;
    font-weight: bold;
}

/* /////RESULT HTML///// */

#resultbg {
    background-image: url("../IMG/redbg.jpg");
    background-size: cover;
}

/* /////ABOUT US HTML///// */

#aboutusbg {
    background-image: url("../IMG/redbg.jpg");
    background-size: cover;
}